<div class="left-sidebar">
  <h2>Category</h2>
  <div class="panel-group category-products" id="accordian">
    <div class="panel panel-default"  *ngFor="let item of categoryItems">
      <div  *ngIf="item.links.length !== 0" >
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse"  (click)="toggleClass(item)"  data-parent="#accordian" href="#item.name">
            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
            {{ item.name }}
          </a>
        </h4>
      </div>
      <div id="item.name" class="panel-collapse collapse "
        [ngClass]="{'in': item.in}" >
        <div class="panel-body">
          <ul *ngFor="let link of item.links">
            <li><a href="#">{{ link.name }}</a></li>
          </ul>
        </div>
      </div>
      </div>
    </div>

    <div class="panel panel-default"  *ngFor="let item of categoryItems">
      <div class="panel-heading">
        <h4 class="panel-title"><a href="#">{{ item.name }}</a></h4>
      </div>
    </div>
  </div>
</div>


