
<app-header></app-header>



<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
       <app-category></app-category>
       </div>





       <div class="col-sm-9">
          <div class="blog-post-area">
            <h2 class="title text-center">Latest From our Blog</h2>

            <div class="single-blog-post">
              <h3>{{ title }}</h3>
              <div class="post-meta">
              </div>
              <a href="">
                <img [src]=imagePath alt="">
              </a>
              <p>
                {{ content }}
              </p>
              <div class="pager-area">
                <ul class="pager pull-right">
                  <li><a href="#">Pre</a></li>
                  <li><a href="#">Next</a></li>
                </ul>
              </div>
            </div>

          </div><!--/blog-post-area-->




          <div class="replay-box">
            <div class="row">
              <div class="col-sm-4">
                <h2>Leave a replay</h2>
                <form>
                  <div class="blank-arrow">
                    <label>Your Name</label>
                  </div>
                  <span>*</span>
                  <input type="text" placeholder="write your name...">
                  <div class="blank-arrow">
                    <label>Email Address</label>
                  </div>
                  <span>*</span>
                  <input type="email" placeholder="your email address...">
                  <div class="blank-arrow">
                    <label>Web Site</label>
                  </div>
                  <input type="email" placeholder="current city...">
                </form>
              </div>
              <div class="col-sm-8">
                <div class="text-area">
                  <div class="blank-arrow">
                    <label>Your Name</label>
                  </div>
                  <span>*</span>
                  <textarea name="message" rows="11"></textarea>
                  <a class="btn btn-primary" href="">post comment</a>
                </div>
              </div>
            </div>
          </div><!--/Repaly Box-->
        </div>




   </div>
 </div>
</section>


<app-footer></app-footer>
