 <!-- <div *ngFor=" let item of recommendedItems; let index = index; " >
    <div *ngIf="index < 3">
     {{ index }}
    </div>
   </div>
<hr>

<div *ngFor="let any of [].constructor(CountOfItems);let i = index;">

    {{ CountOfItems }} - {{ 3 * i }}
  <div  *ngFor=" let item of recommendedItems; let index = index; ">

    <div
    *ngIf="index >= 3 * i  && index < CountOfItems * 3 / CountOfItems + 3 * i && i !=0">
        {{ item.price }}
    </div>

  </div>


</div> -->

<div class="recommended_items">
<h2 class="title text-center">recommended items</h2>

<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">

    <div
      [className]=" i==0 ? 'item active' : 'item'"
      *ngFor="let any of [].constructor(CountOfItems);let i = index;" >

      <div
      *ngFor=" let item of recommendedItems; let index = index; "
      >
        <div  *ngIf="index >= 3 * i  && index < CountOfItems * 3 / CountOfItems + 3 * i " class="col-sm-4">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                  <a [routerLink]="['/ProductDetails']"
                  [queryParams]="{Id:item.id}">
                    <img width="240" height="240" [src]="item.imagePath" alt="" />
                  </a>
                  <!-- <h3>{{ item.id }}</h3> -->
                  <h2>${{ item.price }}</h2>
                  <p>{{ item.itmemdesc }}</p>
                <a (click)="addtoCart(item.id)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>

  </div>
    <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
    <i class="fa fa-angle-left"></i>
    </a>
    <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
    <i class="fa fa-angle-right"></i>
    </a>
</div>
</div>

